<%- include('partials/header') -%>

    <div class="grid bg-base-200 justify-items-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 flex justify-items-center mt-5 mb-5 border border-white">
            <a href="/post/<%= posts[i]._id%>">
              <h2><%= posts[i].title%></h2>
              <img class="img-fluid" src="<%= posts[i].image%>">
              
            </a>
          </li>
        <% } %>
        </ul>
    </div>  
<%- include('partials/footer') -%>