<%- include('partials/header') -%>
  <!-- <div class="container">
    <div class="row mt-5"> -->
        <!-- <div class="col-6"> -->

          <div class="bg-base-200"> 
            <div class="flex flex-col w-full border-opacity-50">
            <!-- <div class="grid max-h-fit max-w-fit card bg-base-300 rounded-box place-items-left ml-10 pl-3 pr-3">
              <div>
                <h2 class="text-primary">User Info</h2>
                    <p><strong>User Name</strong>: <%= user.userName %></p>
                    <p><strong>Email</strong>: <%= user.email %></p> -->
                    <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
            </div>
          </div>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
          <div class="grid bg-base-200 justify-items-center mt-5">
 
              <textarea id="title" name="title" rows="2" class="block p-2.5 w-3/4 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Ask a Question..."></textarea>
              <button type="submit" class="btn btn-primary w-1/2 mt-2.5" value="Upload">Submit</button>

          </div>
        </form>

          <div class="divider"></div>

          <div class="grid bg-base-200 justify-items-center mt-5">
            <ul class="row list-unstyled">
              <% for(var i=0; i<posts.length; i++) {%>
                <li class="col-6 flex justify-items-center mt-5 mb-5 border border-white">
                  <a href="/post/<%= posts[i]._id%>">
                    <h2><%= posts[i].title%></h2>
                    <img class="img-fluid" src="<%= posts[i].image%>">
                    
                  </a>
                </li>
              <% } %>
              </ul>
          </div>  
<%- include('partials/footer') -%>