<%- include('partials/header') -%>
  <!-- <div class="container">
    <div class="row mt-5"> -->
        <!-- <div class="col-6"> -->

          <div class="bg-base-200"> 
            <div class="flex flex-col w-full border-opacity-50">
            <!-- <div class="grid max-h-fit max-w-fit card bg-base-300 rounded-box place-items-left ml-10 pl-3 pr-3">
              <div>
                <h2 class="text-primary">User Info</h2>
                    <p><strong>User Name</strong>: <%= user.userName %></p>
                    <p><strong>Email</strong>: <%= user.email %></p> -->
                    <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
            </div>
          </div>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <textarea id="title" name="title" rows="2" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>

            <!-- <div class="grid max-h-fit min-w-fit card bg-base-200 rounded-box place-items-center">
              <div class="mt-5 mb-5">
                <div class="collapse collapse-arrow">
                  <input type="checkbox" /> 
                  <div class="collapse-title text-xl font-medium collapse border border-base-300 bg-base-100 rounded-box">
                    Ask a question
                  </div>
                  <div class="collapse-content form-control"> 

                      <div class="mb-5">
                        <input type="text" placeholder="headline" class="mt-5 input input-bordered min-w-full" id="title" name="title" />
                      </div>
                      <div class="mb-3">
                        <label for="caption" class="form-label">Details</label>
                        <textarea class="form-control" id="caption" name="caption"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="imgUpload" class="form-label">Image</label>
                        <input type="file" class="form-control" id="imageUpload" name="file">
                      </div>

                  </div>
                </div>
              </div>
            </div> -->
          <div class="divider"></div>

          <div class="grid bg-base-200 justify-items-center mt-5">
            <ul class="row list-unstyled">
              <% for(var i=0; i<posts.length; i++) {%>
                <li class="col-6 flex justify-items-center mt-5 mb-5 border border-white">
                  <a href="/post/<%= posts[i]._id%>">
                    <h2><%= posts[i].title%></h2>
                    <img class="img-fluid" src="<%= posts[i].image%>">
                    
                  </a>
                </li>
              <% } %>
              </ul>
          </div>  
<%- include('partials/footer') -%>